ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #586D63;
    font-family: sans-serif;
}

li {
    float: left;
    font-family: sans-serif;
}

li a {
    font-size: 1.5em ;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
}

li a:hover:not(.active) {
    font-family: sans-serif;
}
h2{
    font-family: sans-serif;
}

.Bilder{
    padding: 1%;
    background-color: #E8EBDE;
    margin-bottom: 3%;
    margin-top: 3%;
    width: 80%;
    margin: auto;

}

.Bilder img{
    width: 50%;
    -webkit-filter: grayscale(150%);
    filter: grayscale(150%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

}

.Bilder:hover img{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.Text{
    float: right;
    width: 45%;
}

.Video{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

.masterDiv {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;

}
body{
    background-color: #B6CDB2;
}

.Feld{
    padding: 1%;
    background-color: #E8EBDE;
    margin-bottom: 3%;
    margin-top: 3%;
    width: 80%;
    margin: auto;
}
.Feld img {
    width: 70%;
    filter: grayscale(50%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
}
