ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: sans-serif;
}

li {
    float: left;
    font-family: sans-serif;
}

li a {
    font-size: 1.5em ;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
}

li a:hover:not(.active) {
    background-color: #111;
    font-family: sans-serif;
}
h2{
    font-family: sans-serif;
}